# CORE APPLICATION
discord.py==2.3.2
Flask==3.0.3
Flask-CORS==5.0.0
Flask-Limiter==3.5.1
Flask-Talisman==1.1.0
gunicorn==21.2.0

# DATABASE & CACHE
pymongo==4.6.3
redis==5.0.1
motor==3.4.1

# UTILITIES & SECURITY
python-dotenv==1.0.1
requests==2.31.0
bcrypt==4.1.2
cryptography==42.0.8
pyotp==2.9.0
qrcode==7.4.2
psutil==5.9.7
humanize==4.9.0
dnspython==2.6.1
urllib3==2.2.1
bleach==6.1.0

# WEBSITE & TEMPLATING
Werkzeug==3.0.3
Jinja2==3.1.4
